@model IEnumerable<Padanian_Bank.Models.Account>

@{
    ViewData["Title"] = "My Accounts";
}

<h1>Accounts</h1>

<p>
    <a asp-action="Create">Create New Account</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Account ID
            </th>
            <th>
                Description
            </th>
            <th>
                Balance
            </th>
            <th>
                Currency
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AccountId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.AccountId">Details</a>|
                <a asp-action="Deposit" asp-route-id="@item.AccountId">Deposit</a>|
                <a asp-action="Withdraw" asp-route-id="@item.AccountId">Withdraw</a>|
                <a asp-action="Edit" asp-route-id="@item.AccountId">Edit Description</a>|
                <a asp-action="Delete" asp-route-id="@item.AccountId">Delete Account</a>
            </td>
        </tr>
}
    </tbody>
</table>
